---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main class="container mx-auto mt-12 xl:max-w-3xl">
      <article>
        <div class="prose">
          <div class="py-6 title">
            <h1 class="inline-block text-4xl dark:text-white font-display">{title}</h1>
            <div class="inline-block mt-1 font-medium font-display text-slate-500 dark:text-slate-400">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
          </div>
          <div class="mt-12 content">
            <slot />
          </div>
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
